.Head {

  font-weight: 800;

}


.Container {
  display: flex;
  padding: 30px;
  flex-direction: column;
}


.TextTitle {
  font-size: 35px;
  line-height: 60px;
  font-weight: bold;
}

.TextSmall {
  font-size: 15px;
  font-weight: 600;

}

.ButtonGroup {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  height: 119px;
  justify-content: space-between;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  background: white;
  border-radius: 16px;
}

.Form1 {}

.adm-list-default .adm-list-body {
  position: relative;
  overflow-y: scroll;
  height: 400px;
  text-align: start;
  font-size: 10px !important;
}

.Form{

  text-align: center;

}

.color_red{
  color: red;
}
.adm-radio-content{
  font-size: 15px;
  font-weight: 600;
}

.adm-modal-body{
  width: 120%;
  max-height: 70vh;
  font-size: var(--adm-font-size-6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -28px;
}

.SignContainer{

  margin:1em;
  text-indent: 2em;
  font-size: large;
  font-weight: 580;
  line-height: 125%;
  display: flex;
  flex-direction: column;
}

.SmallText{
  font-size: small;
  font-weight: 550;
}

.SSContainer{
  display: flex;
  flex-direction: row;
  font-size: smaller;
}

.SSSContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  /* text-align: start; */
  text-indent: 0%;
}

.SmallButton{
  width: 50%;
  height: 20%;
  font-size: 10px !important;
}
